/* Style the hero section */
#hero {
  background-image: url('img/me2.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

#hero h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff6b6b;
  color: #fff;
  font-size: 1.2rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: green;
}

/* Style the services section */
#services {
  background-color: #f9f9f9;
  padding: 50px 20px;
  text-align: center;
}

#services h2 {
  font-size: 2.5rem;
  margin-bottom: 30px;
}

#services p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

#services ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#services li {
  margin: 20px;
  max-width: 300px;
  text-align: center;
}

/* Style the footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}

footer p {
  font-size: 1.2rem;
}


/* Style the navigation menu */
nav {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 10px;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #333;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

nav a:hover {
  color: #ff6b6b;
}
